@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes flowRight { 0% { left: -100%; } 100% { left: 100%; } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
.animate-spin { animation: spin 1s linear infinite; }
